<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name ="RabbitMQDevelopmentClusterAddress" connectionString="Node1= nc-mso-test01; Node2= nc-mso-test02; Node3= nc-mso-test03; username= jssau4rmq; password= iaohmf"/>
    <add name ="HTTPapi" connectionString="BaseAddress= http://10.0.19.244:15672/api/; username= jssau4rmq; password= iaohmf "/>
  </connectionStrings>
</configuration>